<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SayimWeb</display-name>
  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Past Project URL Mapping -->
  <servlet>
  <servlet-name>past_projects</servlet-name>
  <jsp-file>/past_projects.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>past_projects</servlet-name>
  <url-pattern>/past_projects</url-pattern>
</servlet-mapping>


 <!-- Current Project URL Mapping -->
 <servlet>
  <servlet-name>current_projects</servlet-name>
  <jsp-file>/current_projects.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>current_projects</servlet-name>
  <url-pattern>/current_projects</url-pattern>
</servlet-mapping>

<!-- CV Landing page -->
 <servlet>
  <servlet-name>cv_landing</servlet-name>
  <jsp-file>/cv_landing.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>cv_landing</servlet-name>
  <url-pattern>/cv_details</url-pattern>
</servlet-mapping>

 <!-- Past Work Experience URL Mapping -->
 <servlet>
  <servlet-name>past_work_experience</servlet-name>
  <jsp-file>/work_experience.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>past_work_experience</servlet-name>
  <url-pattern>/past_work</url-pattern>
</servlet-mapping>


 <!-- hobbies URL Mapping -->
 <servlet>
  <servlet-name>hobbies</servlet-name>
  <jsp-file>/hobbies.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>hobbies</servlet-name>
  <url-pattern>/hobbies</url-pattern>
</servlet-mapping>


 <!-- Skills URL Mapping -->
 <servlet>
  <servlet-name>skills</servlet-name>
  <jsp-file>/skills.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>skills</servlet-name>
  <url-pattern>/skills</url-pattern>
</servlet-mapping>


 <!-- Skills URL Mapping -->
 <servlet>
  <servlet-name>test</servlet-name>
  <jsp-file>/test.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>test</servlet-name>
  <url-pattern>/test</url-pattern>
</servlet-mapping>

  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
<filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
</filter-mapping>
</web-app>